html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

nav {
    display: flex;
    font-family: inter;
    align-items: center;
    font-weight: 270;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: 200px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.logo {
    font-family: inter;
    font-weight: 600;
    font-size: 40px;
    margin-left: 150px;
    color: #fff;
}

#page1 {
    width: 100%;
    height: 100vh;
    background-image: url(Rectangle\ \(1\).png);
    background-size: cover;
    background-position: center;
}

.title {
    font-family: inter;
    font-size: 80px;
    margin-top: 200px;
    margin-left: 150px;
    line-height: 80px;
    letter-spacing: -3px;
    font-weight: 700;
    color: #fff;
}

#page2 h1 {
    font-family: Inter;
    font-size: 80px;
    font-weight: 300;
    line-height: 82px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 1102px;
    height: 246px;
    margin-top: 200px;
    margin-left: 150px;
    gap: 0px;
    opacity: 0.8px;
    align-items: center;
}

#page3 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.first-text {
    width: 501px;
    height: 405px;
    margin-top: 150px;
    margin-left: 150px;
    gap: 0px;
    opacity: 0px;
}

.text1 {
    font-family: Inter;
    font-size: 47px;
    font-weight: 300;
    line-height: 54.05px;
    text-align: left;
}

.text2 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
}

.image7 {
    width: 400px;
    height: 660px;
    top: 1164px;
    left: 900px;
    gap: 0px;
    opacity: 0px;
    margin-right: 50px;
}

#page4 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 150px;
}

.second-text {
    width: 500px;
    height: 333px;
    gap: 0px;
    opacity: 0px;
    margin-top: 170px;
    margin-left: 50px;
}

.text3 {
    font-family: Inter;
    font-size: 47px;
    font-weight: 300;
    line-height: 54.05px;
    letter-spacing: -0.03em;
    text-align: left;
}

.text4 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    margin-top: 30px;
}

.text5 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    margin-top: 30px;
}

.third-text {
    margin-left: 109px;
    margin-top: 100px;
}

.line2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.textt {
    font-family: Inter;
    font-size: 47px;
    font-weight: 300;
    line-height: 54.05px;
    letter-spacing: -0.03em;
    text-align: left;
}

#page6 {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 100px;
}

.fourth-text {
    margin-top: 200px;
    margin-right: 40px;
}

.text6 {
    font-family: Inter;
    font-size: 47px;
    font-weight: 300;
    line-height: 54.05px;
    letter-spacing: -0.03em;
    text-align: left;
}

.text7 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
}

#page7 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.image10 {
    width: 400px;
    height: 660px;
    top: 1164px;
    left: 900px;
    gap: 0px;
    opacity: 0px;
    margin-right: 50px;
}

.fifth-text {
    margin-top: 270px;
    margin-left: 100px;
}

.text8 {
    font-family: Inter;
    font-size: 47px;
    font-weight: 300;
    line-height: 54.05px;
    letter-spacing: -0.03em;
    text-align: left;
}

.text9 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
}

.image10 {
    width: 400px;
    height: 660px;
    top: 1164px;
    left: 900px;
    gap: 0px;
    opacity: 0px;
    margin-right: 50px;
}

#page8 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.image11 {
    margin-left: 100px;
}

.sixth-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin-right: 50px;
    margin-top: 200px;
 }

#page9 {
    margin-left: 109px;
    margin-top: 100px;
}

.line3 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.support {
    font-family: Inter;
    font-size: 47px;
    font-weight: 300;
    line-height: 54.05px;
    letter-spacing: -0.03em;
    text-align: left;
}

#footer {
    background-color: #3B3A3A;
}

.part1 {
    padding-top: 30px;
    align-items: center;
}

.footer-logo {
    font-family: inter;
    font-weight: 600;
    font-size: 30px;
    margin-left: 200px;
    color: #fff;
}

.contact {
    font-family: inter;
    font-weight: 100;
    font-size: 20px;
    padding-left: 800px;
    color: #fff;
}

.location-and-num {
    font-family: inter;
    font-weight: 100;
    font-size: 15px;
    line-height: 25px;
    padding-left: 800px;
    padding-bottom: 40px;
    color: #fff;
}

.line4 {
    padding-left: 200px;
    display: flex;
    width: 1100px;
}

.nav2 {
    display: flex;
    font-family: inter;
    align-items: center;
    font-weight: 100;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-left: 200px;
}

.nav2 ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.nav2 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}